@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap");

/*-----Body-----*/

body {
    font-family: "Roboto", sans-serif;
}

/*-----Images-----*/

.logo {
    max-width: 6rem !important;
}

img {
    max-width: 70% !important;
}

/*-----Padding-----*/

.bike-content-padding {
    padding-left: 0rem;
}

.tab-padding{
  padding-left:10rem !important;
  padding-right:10rem !important;
  padding-bottom:15rem !important;
}

/*-----Content-----*/

#title-product {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

#text-product {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.tab-titles {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
}

.tab-content-header{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

.tab-content-title{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    text-align: left;
}

.tab-content-text{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

#price-product {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#ref-product {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 11px;
}

/*-----Swiper JS-----*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----Accordian-----*/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*-----Tabs-----*/

.container-tab{
  max-width:100% !important;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}

/*-----Media Quries-----*/

/*-----Adjust size/ weight of title font for better viewing on mb/md-----*/

@media (min-width: 769px) {
    #title-product {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        font-size: 24px;
    }
}

/*-----Adjust size of PL for better layout of content for lg devices-----*/

@media (min-width: 1280px) {
    .bike-content-padding {
        padding-left: 12rem;
    }
}

/*-----Adjust size/ weight of text font for better viewing on mb/md-----*/

@media (min-width: 769px) {
    #text-product {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}
